<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- Header Begin -->
    <header>
        <a href="#" class="logo">Portfo<span>lio</span></a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </header>
    <!-- End of Header -->
    <!-- Begin Main Home Section -->
    <section class="home" id="home">
        <div class="home-text">
            <h5>Hello, my name is</h5>
            <h1>Nate Tchamba</h1>
            <h6>I am an Innovative and Passionate Full-Stack <span>Developer.</span></h6>
            <p>I enjoy designing and developing websites.</p>
            <a href="#resume" class="btn">View Resume</a>
        </div>

        <div class="home-img">
            <img src="../static/images/profileavi.jpg" id="profileimage" alt="Profile Avi">
        </div>
    </section>
    <!-- End Main Home Section -->

    <!-- Begin Main About Section -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="../static/images/aboutimage.jpg" alt="About Image" height="400px">
        </div>

        <div class="about-text">
            <h3>ABOUT ME</h3>
            <h2>As a Web Developer, I create full stack applications utilizing React and Flask frameworks and open
                source APIs to build applications to analyze
                complex data sets.</h2>
            <p>A web developer with a diverse background. Some of my strengths include connecting with people using
                clear
                communication, asking the right questions, and being efficient with time to make the most of a
                situation. I'm always
                excited to learn something new everyday even if it means picking it up quickly to be able to implement
                it right away.
            </p>
            <div class="count">
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="main-btn">
                <a href="#contact" class="btn">Contact Me</a>
                <a href="#portfolio" class="btn">Portfolio</a>
            </div>
        </div>
    </section>
    <!-- End Main Home Section -->

    <!-- Begin Main Service Section -->
    <section class="services" id="services">
        <div class="center">
            <h3>WHAT I DO?</h3>
        </div>

        <div class="service-content">
            <div class="row">
                <i class="bx bx-cast"></i>
                <h3>Web Development</h3>
                <p>There are many variations of Lorem Ipsum but the majority of them have suffered</p>
            </div>
            <div class="row">
                <i class="bx bx-layer"></i>
                <h3>Web Development</h3>
                <p>There are many variations of Lorem Ipsum but the majority of them have suffered</p>
            </div>
            <div class="row">
                <i class="bx bx-user-voice"></i>
                <h3>Web Development</h3>
                <p>There are many variations of Lorem Ipsum but the majority of them have suffered</p>
            </div>
            <div class="row">
                <i class="bx bx-desktop"></i>
                <h3>Web Development</h3>
                <p>There are many variations of Lorem Ipsum but the majority of them have suffered</p>
            </div>
            <div class="row">
                <i class="bx bx-camera"></i>
                <h3>Web Development</h3>
                <p>There are many variations of Lorem Ipsum but the majority of them have suffered</p>
            </div>
            <div class="row">
                <i class="bx bx-line-chart"></i>
                <h3>Web Development</h3>
                <p>There are many variations of Lorem Ipsum but the majority of them have suffered</p>
            </div>

        </div>
    </section>
    <!-- End Main Service Section -->

    <!-- Begin Main Resume Section -->
    <section class="resume" id="resume">
        <div class="center">
            <h3>Education & Experience</h3>
        </div>

        <div class="resume-content">
            <div class="box">
                <h6>March 2022 - June 2022</h6>
                <h4>Software Engineer</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quaerat! Lorem ipsum dolor sit
                    amet
                    consectetur.</p>
                <h5>Coding Temple</h5>
            </div>
            <div class="box">
                <h6>September 2020 - June 2022</h6>
                <h4>Masters Sports Management</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quaerat! Lorem ipsum dolor sit
                    amet
                    consectetur.</p>
                <h5>Western Michigan University</h5>
            </div>
            <div class="box">
                <h6>August 2015 - May 2019</h6>
                <h4>B.S. Psychology</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quaerat! Lorem ipsum dolor sit
                    amet consectetur.</p>
                <h5>Andrews University</h5>
            </div>
            <div class="box">
                <h6>May 2021 - August 2021</h6>
                <h4>Intern (Western Michigan Football)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quaerat! Lorem ipsum dolor sit
                    amet
                    consectetur.</p>
                <h5>Western Michigan University</h5>
            </div>
            <div class="box">
                <h6>September 2021 - February 2022</h6>
                <h4>Assitant Head Coach (Mens Basketball) </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quaerat! Lorem ipsum dolor sit
                    amet
                    consectetur.</p>
                <h5>Andrews University</h5>
            </div>
            <div class="box">
                <h6>October 2019 - August 2020</h6>
                <h4>Behavior Technician</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quaerat! Lorem ipsum dolor sit amet
                    consectetur.</p>
                <h5>Centria Healthcare</h5>
            </div>
        </div>
    </section>
    <!-- End Main Resume Section -->

    <!-- Begin Main Contact Section -->

    <section class="contact" id="contact">
        <div class="center">
            <h3>Contact Us</h3>
            <div class="contact-form">
                <form action="">
                    <input type="" placeholder="Your Name" required>
                    <input type="email" name="" id="" placeholder="Email Address" required>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Send Me A Message"></textarea>
                    <input type="submit" name="" value="Send" class="send-btn">
                </form>
            </div>
        </div>
    </section>

    <!-- End Main Contact Section -->
    
    <!-- Copyright Area -->
    <div class="copyright">
        <span href="#" class="socialmedia"><i class='bx bxl-twitter'></i><i class='bx bxl-instagram'></i><i class='bx bxl-linkedin'></i><i class='bx bxl-github'></i></span>
        <p><br>Created by Nate Tchamba</p>
    </div>

    <!-- Scroll Reveal  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Link to app.js -->
    <script src="../static/app.js"></script>
</body>

</html>