<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/work.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body>

    <!-- Image Gallery -->
    <div class="services-section">
        <div class="services-heading">
            <h1>What I Do</h1>
        </div>

        <div class="services">
            <div class="services-cell">
                <img src="../static/gallery/img-1.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Interest</div>
            </div>
            <div class="services-cell">
                <img src="../static/gallery/img-4.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Hobbies</div>
            </div>
            <div class="services-cell">
                <img src="../static/gallery/img-3.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Projects</div>
            </div>
            <div class="services-cell">
                <img src="../static/gallery/img-7.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Social Media</div>
            </div>
            <div class="services-cell">
                <img src="../static/gallery/img-2.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Web Design</div>
            </div>
            <div class="services-cell">
                <img src="../static/gallery/img-5.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Skills</div>
            </div>
            <div class="services-cell">
                <img src="../static/gallery/img-6.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Art</div>
            </div>
        </div>
    </div>

    <script src="../static/work.js"></script>
</body>
</html>